---
import { Image } from "astro:assets";
import { render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import NavLink from "@/components/NavLink.astro";
import { getImageAsset, formatShortMDY } from "@/utils";
import { getBlogPosts } from "@/content";

export async function getStaticPaths()
{
	const posts = await getBlogPosts();

	return posts.map((entry) => ({
		params: {
			slug: entry.id
		},
		props: {
			entry
		},
	}));
}

const {
	entry: {
		data: {
			title,
			description,
			image,
			image_alt = "",
			image_list_only,
			date
		}
	}
} = Astro.props;
const { Content } = await render(Astro.props.entry);
const imageData = !image_list_only && image && await getImageAsset(image);
const dateString = formatShortMDY(date);
const meta = {
	description,
	image: imageData ? imageData.src : ""
};
---

<BaseLayout
	title={title}
	header=""
	meta={meta}
>
	<h1 class="mb-2 text-3xl font-bold">{title}</h1>
	<div class="date text-sm mb-6 flex justify-between items-center">
		<time datetime={date?.toISOString()}>{dateString}</time>
		<NavLink href="/blog">All posts</NavLink>
	</div>
	{imageData &&
		<p class="mb-4">
			<Image src={imageData} alt={image_alt} />
		</p>}
	<div class="prose max-w-none">
		<Content />
	</div>
</BaseLayout>
