---
import BaseLayout from "@/layouts/BaseLayout.astro";
import GetStartedStep from "@/components/GetStartedStep.astro";
import { base, meetupURL, memberFormURL, projectsURL, slackURL } from "@/utils/urls";
import about from "@/assets/get-started/about.webp";
import onboard from "@/assets/get-started/onboard.webp";
import attend from "@/assets/get-started/attend.webp";
import join from "@/assets/get-started/join.webp";
---

<BaseLayout title="Get Started">
	<p>
		Regardless of skillset or background, anyone can contribute to their
		community through SF Civic Tech
	</p>
	<ol class="steps">
		<GetStartedStep
			title="Tell us about yourself"
			src={about}
		>
			<p>
				Fill out our <a href={memberFormURL}>2 minute form</a> so we can help match you with opportunities
			</p>
		</GetStartedStep>
		<GetStartedStep
			title="Onboard"
			src={onboard}
		>
			<ol>
				<li>
					Read our <a href={base("/about/code-of-conduct")}>Code of Conduct</a>
				</li>
				<li>
					Read over the <a href={projectsURL}>Current Projects</a>
				</li>
				<li>
					Join our <a href={slackURL}>Slack</a>
				</li>
			</ol>
		</GetStartedStep>
		<GetStartedStep
			title="Attend Hack Night"
			src={attend}
		>
			<p>
				We meet remotely every Wednesday to work on projects! Head over to our <a href={meetupURL}>Meetup</a> for more details
			</p>
		</GetStartedStep>
		<GetStartedStep
			title="Join a Project"
			src={join}
		>
			<p>
				Review our current portfolio listed on our <a href={projectsURL}>Projects</a> page. Join us at Hack Night or on Slack to get involved!
			</p>
		</GetStartedStep>
	</ol>
</BaseLayout>

<style>
	ol.steps {
		list-style: none;
		counter-reset: item;
		margin-top: var(--pico-block-spacing-vertical);
	}

	a {
		font-weight: bold;
	}
</style>
