---
import BaseLayout from "@/layouts/BaseLayout.astro";
import GetStartedStep from "@/components/GetStartedStep.astro";
import { base, meetupURL, memberFormURL, projectsURL, slackURL, codeOfConductURL } from "@/utils/urls";

const meta = {
	description: "Get started with SF Civic Tech. We're here to help you get involved.",
};
---

<BaseLayout title=""
	meta={meta}
>
	<ol class="list-none [counter-reset:item] mt-3u">
		<GetStartedStep>
			<Fragment slot="title">
				<b>Tell us</b><br>
				about<br>
				yourself
			</Fragment>

			<p>
				Fill out our <a href={memberFormURL}>2 minute form</a> so we can help match you with opportunities
			</p>
		</GetStartedStep>

		<GetStartedStep>
			<Fragment slot="title">
				<b>On</b><br>
				board
			</Fragment>

			<ol class="list-decimal pl-5 space-y-1 marker:text-muted">
				<li class="marker:initial">
					Read our <a href={base(codeOfConductURL)}>Code of Conduct</a>
				</li>
				<li>
					Read over the <a href={projectsURL}>Current Projects</a>
				</li>
				<li>
					Join our <a href={slackURL}>Slack</a>
				</li>
			</ol>
		</GetStartedStep>

		<GetStartedStep>
			<Fragment slot="title">
				<b>Attend</b><br>
				Hack<br>
				Night
			</Fragment>

			<p>
				We meet remotely every Wednesday to work on projects! Head over to our <a href={meetupURL}>Meetup</a> for more details
			</p>
		</GetStartedStep>

		<GetStartedStep>
			<Fragment slot="title">
				<b>Join</b><br>
				a Project
			</Fragment>

			<p>
				Review our current portfolio listed on our <a href={projectsURL}>Projects</a> page. Join us at Hack Night or on Slack to get involved!
			</p>
		</GetStartedStep>
	</ol>
</BaseLayout>
