---
import type { CollectionEntry } from "astro:content";
import { base, dateFromSlug, getBlogImage, formatShortMDY } from "@/utils";
import defaultThumbnail from "../assets/blog/default-thumbnail.png";

interface Props {
	post: CollectionEntry<"blog">;
}

const {
	post: {
		slug,
		data: {
			title,
			image,
			image_alt = "",
			date = dateFromSlug(slug),
			descriptionHTML,
		}
	}
} = Astro.props;
const imageData = await getBlogImage(image);
const backgroundImageURL = imageData?.src ?? defaultThumbnail.src;
const postURL = base("/blog/" + slug);
const dateString = formatShortMDY(date);
---

<li>
	<div class="thumbnail"
		style={`background-image: url(${backgroundImageURL})`}
		title={image_alt}
	/>
	<div class="info">
		<time datetime={date?.toISOString()}>{dateString}</time>
		<h3><a href={postURL}>{title}</a></h3>
		{/* descriptionHTML is formatted as a <p> tag */}
		<Fragment set:html={descriptionHTML} />
	</div>
</li>

<style>
	li {
		margin: var(--pico-block-spacing-vertical) 0 0 0;
		display: flex;
		flex-direction: row;
		gap: var(--pico-block-spacing-horizontal);
	}

	div.thumbnail {
		aspect-ratio: 1;
		background-size: cover;
		background-position: center;
		width: 14rem;
		height: 14rem;
	}

	div.info {
		flex: 1;
	}

	time {
		color: var(--pico-muted-color);
		margin-bottom: calc(var(--pico-block-spacing) * 0.5);
		line-height: 1;
		display: block;
	}
</style>
