---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { base, dateFromSlug, getBlogImage, formatShortMDY } from "@/utils";
import defaultThumbnail from "../assets/blog/default-thumbnail.png";

interface Props {
	post: CollectionEntry<"blog">;
}

// the thumbnail item is set to 14rem square, and the font size is 21px, so
// double that to support a max 2X image
const ThumbnailWidth = 14 * 21 * 2;

const {
	post: {
		slug,
		data: {
			title,
			image,
			image_alt = "",
			date = dateFromSlug(slug),
			descriptionHTML,
		}
	}
} = Astro.props;
const imageData = await getBlogImage(image);
const backgroundImage = imageData || defaultThumbnail;
const postURL = base("/blog/" + slug);
const dateString = formatShortMDY(date);
---

<li>
	<a href={postURL}>
		<Image class="thumbnail"
			src={backgroundImage}
			alt={image_alt}
			widths={[ThumbnailWidth]}
			sizes=`${ThumbnailWidth}px`
			inferSize
		/>
	</a>
	<div class="info">
		<time datetime={date?.toISOString()}>{dateString}</time>
		<h3><a href={postURL}>{title}</a></h3>
		{/* descriptionHTML is formatted as a <p> tag */}
		<Fragment set:html={descriptionHTML} />
	</div>
</li>

<style>
	li {
		margin: var(--pico-block-spacing-vertical) 0 0 0;
		display: flex;
		flex-direction: row;
		gap: var(--pico-block-spacing-horizontal);
	}

	img.thumbnail {
		aspect-ratio: 1;
		object-fit: cover;
		object-position: center;
		width: 14rem;
		height: 14rem;
	}

	div.info {
		flex: 1;
	}

	time {
		color: var(--pico-muted-color);
		margin-bottom: calc(var(--pico-block-spacing) * 0.5);
		line-height: 1;
		display: block;
	}
</style>
