---
import type { CollectionEntry } from "astro:content";
import { getBlogImage, formatShortMDY } from "@/utils";
import DefaultThumbnail from "@/components/DefaultThumbnail.astro";

interface Props {
	post: CollectionEntry<"blog">;
}

const {
	post: {
		id,
		data: {
			title,
			image,
			date
		}
	}
} = Astro.props;
const imageData = image && await getBlogImage(image);
const backgroundImageURL = imageData ? imageData.src : "";
const postURL = "/blog/" + id;
const dateString = formatShortMDY(date);
---

<article
	class="aspect-square bg-cover bg-center overflow-hidden relative shadow-none group"
	style={backgroundImageURL ? `background-image: url(${backgroundImageURL})` : ''}
>
	{ !imageData &&
		<div class="absolute inset-0">
			<DefaultThumbnail size="100%" />
		</div>
	}
	<div class="absolute inset-0 bg-black/40 group-hover:bg-black/25 transition-colors duration-200"></div>
	<a href={postURL} class="relative flex flex-col justify-between h-full p-5 text-white no-underline">
		<time datetime={date?.toISOString()} class="text-xs md:text-sm text-right">{dateString}</time>
		<h3 class="text-base md:text-lg lg:text-xl font-condensed font-semibold text-white leading-[1.1] m-0">{title}</h3>
	</a>
</article>
