---
import TeamMember from "@/components/TeamMember.astro";
import francis from "@/assets/team/francis-li.png";
import janice from "@/assets/team/janice-tam.png";
import edward from "@/assets/team/edward-wu.jpg";
import john from "@/assets/team/john-dunning.png";
import robby from "@/assets/team/robby-taine.png";
---

<section>
	<TeamMember
		name="Francis Li"
		title="Lead"
		image={francis}
	/>

	<TeamMember
		name="Janice Tam"
		title="Co-Lead"
		image={janice}
	/>

	<TeamMember
		name="Edward Wu"
		title="Secretary"
		image={edward}
	/>

	<TeamMember
		name="John Dunning"
		title="Technical Lead"
		image={john}
	/>

	<TeamMember
		name="Robby Taine"
		title="Treasurer"
		image={robby}
	/>
</section>

<style>
	section {
		margin: var(--pico-block-spacing-vertical) 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: var(--pico-block-spacing);
	}
</style>
