---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { getImageAsset } from "@/utils";
import DefaultThumbnail from "./DefaultThumbnail.astro";

interface Props {
	name: string;
	title: string;
	image?: ImageMetadata;
}

const { name, title, image } = Astro.props;
const filename = name
	.trim()
	.toLowerCase()
	.replace(/[^a-z0-9]+/g, "-");
const teamImage = image ?? await getImageAsset(`/src/assets/team/${filename}.webp`);
---

<figure class="flex-grow basis-0 min-w-[15ch] flex flex-col justify-between items-center gap-2">
	{teamImage
		? <Image
			src={teamImage}
			alt={name}
			loading="eager"
		/>
		: <DefaultThumbnail
			width="114px"
			height="114px"
		/>
	}
	<Image
		class="rounded-full w-[114px] h-[114px] object-cover"
		src={image}
		alt={name}
		loading="eager"
	/>
	<figcaption>
		<h3 class="text-center m-0 font-semibold text-xl">{name}</h3>
		<h4 class="text-center m-0 font-normal text-base mt-1">{title}</h4>
	</figcaption>
</figure>
